body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.item-contain {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f3f3;
  padding-left: 100px;
  padding-bottom: 50px;
}
.item1 {
  width: 100%;
}
.item1 h3 {
  font-size: 40px;
  color: black;
  font-weight: bold;
}
.item1 p {
  width: 90%;
  color: rgb(160, 169, 177);
}
.item2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.icon-item {
  display: flex;
  align-items: center;
  width: 100%;
}
.icon-item ion-icon {
  height: 32px;
  color: rgb(15, 183, 15); 
  font-size: 24px;
}
.icon-item p {
  color: rgb(160, 169, 177);
  white-space: nowrap; 
}


@media only screen and (min-width: 601px) and (max-width: 1024px){
  .item-contain {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f3f3;
    padding: 0 8% 50px 12%;
  }
  .item1 {
    width: 100%;
  }
  .item1 h3 {
    font-size: 30px;
    color: black;
    font-weight: bold;
  }
  .item1 p {
    width: 100%;
    color: rgb(160, 169, 177);
  }
  .item2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .icon-item {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .icon-item ion-icon {
    height: 32px;
    color: rgb(15, 183, 15); 
    font-size: 24px;
  }
  .icon-item p {
    color: rgb(160, 169, 177);
    
  }
}

@media only screen and (max-width: 600px){
  .item-contain {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f3f3;
    padding: 0 5% 30px 5%;
    /* padding-left: 100px; */
    /* padding-bottom: 50px; */
  }
  .item1 {
    width: 100%;
  }
  .item1 h3 {
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  .item1 p {
    width: 100%;
    font-size: 10px;
    color: rgb(160, 169, 177);
  }
  .item2 {
    width: 100%;
   display: flex;
   flex-direction: column;
    gap: 5px;
  }
  .icon-item {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .icon-item ion-icon {
    height: 25px;
    color: rgb(15, 183, 15); 
    font-size: 18px;
  }
  .icon-item p {
    color: rgb(160, 169, 177);
    font-size: 12px;
    margin: 0;
  }
}